/* Bounding box for image and caption */
.image-box {
  width: 50%;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  padding: 5px;
}

.caption-box {
  margin-top: 20px;
}

/* CSS for image */
img {
  width: 100%;
  height: auto;
}

/* CSS for caption */
figcaption {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: -20px 0 0 0;
}

button {
  width: 100%;
  margin-bottom:5px;
  font-size: 20px;
  padding:5px;
}

button:first-child {
  height: 100px;
}

button:not(:first-child) {
  height: 50px;
}

.button-box {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-right: 20px;
  margin-left: 20px;
}
